.deep-grey {
  background-color: #272a31;
}

.lighter {
  color: #d3d3d3;
}

/* NAVBAR */

.navbar-main {
  height: 100px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #fff;
}

.brand-img {
  height: 100px;
  width: auto;
}

/* INVITED TEAMS */

.iv-teams{
  margin-bottom: 16px;
}

.iv-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: auto;
  gap: 20px;
}

.iv-grid-item {
  display: flex;
  justify-content:flex-start;

}

/* PARTNER */

h2 {
  text-align: center;
  padding: 30px;
}

.partner-img {
  width: 80px;
  height: 80px;
}

/* FOOTER */

.footer-items {
  display: flex;
  justify-content: center;
  background-color: #272a31;
}

footer img {
  height: auto;
  border-radius: 50%;
  padding: 15px;
}

.footer-text {
  margin-right: 50px;
  padding-top: 30px;
  line-height: 1rem;
  text-align: center;
  background-color: #272a31;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  footer {
    display: none;
  }

  .partners {
    display: none;
  }
}
